body{
    background-color: cadetblue;
}

main{
    background-color: rgb(0, 0, 0);
}

div#paoDeSemente{
    display: block;
    width: 300px;
    height: 450px;
    background-color: gray;
    margin: 10px;
    border-radius: 10px;
    float: right;
} 

div#paoDeSemente > img{
    padding-left: 25px;
}


div#paoDeSemente h1{
    text-align: center;
    color: white;
}

div#paoDeSemente p {
    text-align: justify;
    color: white;
}

div#textoDaPadaria{
    text-align: justify;
    color: white;
}