/*

cor 1 = #C97C5D
cor 2 = #FFC100
cor 3 = #EDF2EF

*/

@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');



*{
    margin: 0px;
    padding: 0px;
}


body{
    background-color: cadetblue;
}

header{
    background-color: #c97c5d;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: "Playwrite IN", serif;

}

main{
    background-color: rgba(255, 255, 255, 0.5);
    width: 80vw;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

div#paoDeSemente{
    display: block;
    width: 300px;
    height: 350px;
    background-color: #a5bdaf;
    margin: 10px;
    border-radius: 10px;
    float: right;
} 

div#paoDeSemente > img{
    padding-left: 25px;
}


div#paoDeSemente h1{
    text-align: center;
    color: white;
}

div#paoDeSemente p {
    text-align: center;
    color: white;
}

div#TextoDaPadaria{
    text-align: justify;
    color: white;
    font: bolder 13pt Arial;
}

strong{
    margin-left: 10px;
}

div#BoloDeCenoura{
    display: block;
    width: 300px;
    height: 370px;
    background-color: gray;
    margin: 10px;
    border-radius: 10px;
    float: left;
} 

div#BoloDeCenoura > img{
    padding-left: 25px;
}


div#BoloDeCenoura h1{
    text-align: center;
    color: white;
}

div#BoloDeCenoura p {
    text-align: center;
    color: white;
}