/*

cor 1 = #C97C5D
cor 2 = #FFC100
cor 3 = #EDF2EF

*/





*{
    margin: 0px;
    padding: 0px;
}


body{
    background-color: cadetblue;
}

header{
    background-color: #c97c5d;
    color: white;
    padding: 10px;
    text-align: center;
}

main{
    background-color: #FFC100;
}

div#paoDeSemente{
    display: block;
    width: 300px;
    height: 420px;
    background-color: #a5bdaf;
    margin: 10px;
    border-radius: 10px;
    float: right;
} 

div#paoDeSemente > img{
    padding-left: 25px;
}


div#paoDeSemente h1{
    text-align: center;
    color: white;
}

div#paoDeSemente p {
    text-align: center;
    color: white;
}

div#TextoDaPadaria{
    text-align: justify;
    color: white;
}

div#BoloDeCenoura{
    display: block;
    width: 300px;
    height: 440px;
    background-color: gray;
    margin: 10px;
    border-radius: 10px;
    float: left;
} 

div#BoloDeCenoura > img{
    padding-left: 25px;
}


div#BoloDeCenoura h1{
    text-align: center;
    color: white;
}

div#BoloDeCenoura p {
    text-align: center;
    color: white;
}